.create-todo {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #8fbdd3;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #8fbdd3;
  color: white;
}

.filter {
  margin-left: 20px;
  padding: 1rem;
  width: 150px;
}

select {
  background-color: white;
  border: none;
  display: inline-block;
  font: inherit;
  line-height: 1em;
  padding: 0.5em 3.5em 0.5em 1em;
  box-sizing: border-box;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, skyblue 50%),
    linear-gradient(135deg, skyblue 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 7px),
    calc(100% - 15px) calc(1em + 7px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 3em;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  form input,
  form button {
    font-size: 1rem;
  }

  .filter {
    padding: 0.4rem;
    width: auto;
  }

  select {
    background-position: calc(100% - 20px) calc(0.5em + 5px),
      calc(100% - 15px) calc(0.5em + 5px), 100% 0;
  }

  h2 {
    text-align: center;
  }
}
