.card {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  margin: 10px auto;
  height: 50px;
  display: flex;
  align-items: center;
  border: none;
  padding: 0 20px 0 20px;
  overflow: auto;
  word-break: break-all;
}

.butt {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex: 1;
}

.toggle {
  color: white;
  background-color: green;
  margin: 0 8px;
}

p {
  color: black;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.delete {
  background-color: red;
  color: white;
}

button:hover {
  opacity: 0.5;
}
